<%- include("./parcials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="title"><span>Title</span></label>
    <input
      type="text"
      name="postTitle"
      autocomplete="off"
      class="form-control"
      id="email"
    />
  </div>
  <div class="form-group">
    <label for="userText">Post:</label>
    <textarea
      type="text"
      class="form-control"
      placeholder="Paste your text here"
      value=""
      name="postText"
      id="pwd"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-default" name="button" value="">
    Publish
  </button>
</form>

<%- include("./parcials/footer") -%>
