<%- include("./parcials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <input type="text" name="newPost" autocomplete="off" />
  <button type="submit" name="button" value="">Publish</button>
</form>

<%- include("./parcials/footer") -%>
